body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-custom {
    background-color: #f92537;
    color: black;
}
.carousel-custom{
    width: 75%;
}
.card-custom {
    background-color: #f92537;
    color: black;
}

footer {
    background-color: #f92537;
    color: black;
    height: 50px;
    text-align: center;
}
footer p{
    margin-top: 12.5px;
    display: inline-block;
    vertical-align: middle;
}
.card-img-custom {
    object-fit: cover;
    height: 220px;
}

#easterEgg1, #easterEgg2, #easterEgg3 {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
}

.text-custom {
    color: black;
}